body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  background: goldenrod;
  font-family: Courier, Monaco, monospace;
}
.icon {
  width: 5vw;
  height: 5vw;
}

.main__weather-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.forecast__wrapper {
  display: flex;
  background: darkgrey;
  padding: 2em;
  color: darkblue;
}
.forecast__container {
  margin-right: 2em;
}
